@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {

  /* colors */
  --primary: #1F3A5F;
  --background: #F5F7FA;
  --foreground: #E8EEF5;
  --textPrimary: #2E2E2E;
  --textSecondary: #4A5A6F;
  --destructive: #A63A3A;
  --buttons: #C9A24D;
  --buttons-hover: #a67c3d;
  --header-footer-text: #A7B9D7;

  /* sizing */
  --header-h: 5rem;
  --footer-h: 30dvh;

  /* fonts */
  --fontPrimary: "Work Sans", sans-serif;
  --fontHeading: "Libre Baskerville", serif;


}

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-textPrimary: var(--textPrimary);
  --color-textSecondary: var(--textSecondary);
  --color-destructive: var(--destructive);
  --color-buttons: var(--buttons);
  --color-buttonsHover: var(--buttons-hover);
  --color-textHF: var(--header-footer-text);

  --font-primary: var(--fontPrimary);
  --font-heading: var(--fontHeading);

}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.fade {
  animation: fade 3s ease-in-out infinite;
}

/* hide calendar indicator */
.hide-calendar::-webkit-calendar-picker-indicator{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}


* {
  box-sizing: border-box;
  font-family: var(--fontPrimary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontHeading);
}

/* grid */

body {
  display: grid;
  min-height: 130dvh;
  overflow-x: hidden;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: var(--header-h) auto var(--footer-h);
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 20px;
}

footer {
  grid-area: footer;
}

